<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.messagealarm">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">


        <activity android:name=".ui.splash.FirstTimeSplashScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar"
            tools:ignore="LockedOrientationActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.terms_privacy.TermsAndConditionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar"
            tools:ignore="LockedOrientationActivity">

        </activity>


        <activity
            android:name=".ui.splash.SplashGettingStarted"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar"
            tools:ignore="LockedOrientationActivity">
        </activity> <!-- audio picker -->


        <activity android:name="xyz.aprildown.ultimateringtonepicker.RingtonePickerActivity" />


        <activity
            android:name=".ui.buy_pro.BuyProActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBuy"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name=".ui.setting.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.alarm_applications.AlarmApplicationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name=".ui.main.add_apps.AddApplicationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.alarm_applications.AlarmApplicationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name=".ui.splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar"
            tools:ignore="LockedOrientationActivity">

        </activity>


        <activity
            android:name=".ui.main.alarm_applications.AlarmApplicationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.alarm.AlarmActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientStatusBar"
            tools:ignore="LockedOrientationActivity" />


        <activity
            android:name=".ui.about.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.setting.SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />


        <service
            android:name=".service.notification_service.NotificationListener"
            android:enabled="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


        <receiver
            android:name=".broadcast_receiver.BootCompletedReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>


        <receiver
            android:name=".broadcast_receiver.UnMuteReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="skip" />
            </intent-filter>
        </receiver>


        <receiver
            android:name=".broadcast_receiver.PowerOffReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="power_off" />
            </intent-filter>
        </receiver>


        <receiver
            android:name=".broadcast_receiver.OpenAppReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="open_app" />
            </intent-filter>
        </receiver>


        <receiver
            android:name=".broadcast_receiver.PageDismissReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="page_dismiss" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcast_receiver.MissedAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="missed_alarm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".firebase.PushMessage"
            android:exported="true">
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_notification" />

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".service.app_reader_intent_service.AppsReaderIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".broadcast_receiver.AlarmReceiver"
            android:exported="false"
            android:process=":remote" />

    </application>

</manifest>